@charset 'UTF-8';

body{
    background-color: blueviolet;
    color: aliceblue;
    font: 1.5em sans-serif;
    
}
h1{
    margin: 5px;
}
input {
    background-color: rgb(7, 227, 7);
    color: blueviolet;
    font-size: 25px ;
    font-weight: bolder;
    padding: 25px;
    border-radius: 2px;
    border: solid 2px greenyellow;
}